*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  background-color: rgb(6, 65, 92);
}

.App{
  display: grid;
  grid-template: 50px 1fr/ 1fr;
}

.Navbar {
  background-color: rgba(22, 9, 9, 0.58);
  color: aliceblue;
  text-align: center;
}

#maincontainer{
  display: grid;
  grid-template: 50px 2fr 1fr 2fr 50px / 50px 2fr 2fr 2fr 50px;
  background-color: royalblue;
}

.formcontainer{
  border-radius: 20px;
  padding: 60px;
  grid-area: 2 / 3 / 5 / 4;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  -moz-box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  /* background-color: ; */
}
.formcontainer:hover{
  background-color: rgba(255, 255, 255, 0.213);
}

.form{
  width: 100%;
}

.input{
  display: block;
  height: 25px;
  border-radius: 5px;
  border-width: 0;
  margin: 5px 0;
  width: 100%;
}

.subtn{
  margin: 25px 0 0 0;
  background-color: seagreen;
  border-color: black;
  border-width: 1px;
}

.titleForm{
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.feedContainer{
  grid-area: 2/2/5/3;
  background-color: rgba(255, 255, 255, 0.68);
  border-radius: 20px 0px 0px 20px;
  border: black solid 1px;
  border-right: transparent;
  padding: 40px;
}

.chatbox{

  padding: 40px;
  grid-area: 2 / 3 / 5 / 4;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 20px 20px 0px;
  border: black solid 1px;
  border-left: transparent;
  display: flex;
  flex-direction: column;
  /* Main Axis */
  /* justify-content: center;  */
  /* Y-axis */
  /* align-items: stretch; */
}

.msgBox{
  flex-grow: 1;
}
.typingBox{
  background-color:  rgba(255, 255, 255, 0.735);
  padding: 15px;
  border-style: none;
  border-radius: 22px;
  height: 50px;
}
.typingBox:focus{
    outline: none;
}