
/* 

NOTE IF TEXT TRUNCATION BECOMES A PROBLEM KEY TO NOTE ON WHITE-SPACE ATTRIBUTE ON DIV WITH GRID CHILD ELEMETS

*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
}

html, body, #root, .App {
  overflow: hidden;
  height: 100%;
  background-color: rgb(6, 65, 92);
}

::-webkit-scrollbar {
  display: none;
}

.App{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template: 1fr/1fr;
}

.Navbar {
  background-color: rgba(22, 9, 9, 0.58);
  color: aliceblue;
  text-align: center;
  max-height: 50px;
}

#maincontainer{
  display: grid;
  max-height: 100%;
  overflow: hidden;
  grid-template: 10% 1fr 10% / 10% 1fr 10%;
  background-color: royalblue;
}

.formcontainer{
  border-radius: 20px;
  width: 55%;
  margin: 0 auto;
  padding: 5%;
  grid-area: 2/2/3/3;
  background-color:#d3e6ff;
  display: flex;
  align-items: center;
  -webkit-box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  -moz-box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
}

.form{
  width: 100%;
}

.input{
  display: block;
  height: 40px;
  padding: 0 3%;
  border-radius: 5px;
  border-width: 0;
  margin: 10px 0;
  width: 100%;
}

.link, .link:visited{
  color: #0D58C1;
}

.subtn{
  margin: 25px 0 0 0;
  background-color: #0d58c1e0;
  color: #fff;
  border:none;
}
.subtn:hover{
    background-color: #0d58c1;
}

.titleForm{
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.sidebarChat{
  min-width: 0;
  min-height: 0;
  grid-area: 1/1/2/2;
  background-color: #0048AA;
  border-radius: 20px 0px 0px 20px;
  border: black solid 1px;
  border-right: transparent;
  display: flex;
  flex-direction: column;
}
.sidebarChat_header, .sidebarChat_footer{
  display: flex;
  height: 10%;
  justify-content: flex-end;
  align-items: center;
  padding: 2% 7% 2% 0;
}

.sidebarChat_btn{
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
}

.Chat_Container{
  grid-area: 2/2/3/3;
  display: grid;
  grid-template: 1fr /1fr 3fr;
  min-width: 0;
  overflow: hidden;
}

.chatbox{
  min-height: 0;
  min-width: 0;
  grid-area: 1/2/2/3;
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 0px 20px 20px 0px;
  border: black solid 1px;
  border-left: transparent;
  display: flex;
  flex-direction: column;
  /* Main Axis */
  /* justify-content: center;  */
  /* Y-axis */
  /* align-items: stretch; */
}

.preventColumnBlowOut{
  overflow: scroll;
  min-height: 80%;
}
.messagesContainer{
  padding: 0 3%;
  min-height: 90%;
}
.InputContainer{
  position: relative;
  /* background-color:rgb(213, 213, 213); */
  display: flex;
  align-items: center;
  min-width: 80%;
  height: 10%;
  /* flex-direction: row; */
  /* border: none; */
  border-top: black solid 1px;
  border-radius: 0 0 100px 0;
}
.typingBox:focus{
  outline: none;
}
.typingBox{
  background-color: rgb(213, 213, 213);
  font-size: larger;
  flex-grow: 1;
  /* min-width: 90%; */
  margin: 1%;
  padding: 2%;
  border: grey solid 1px;
  border-radius: 22px;
  height: 50%;
}

.chatbtn{
  margin-right: 2%;
  border-radius: 100%;
  max-height: 30px;
  max-width: 30px;
  outline: none;
}
.chatbtn:hover{
  background-color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

.message_sender{
  color: #0048AA;
  font-size: small;
  font-weight: bold;
}
.message_content{
  display: inline-block;
  text-align: justify;
  word-wrap: break-word;
  background-color: rgb(206, 206, 206);
  max-width: 70%;
  padding: 2px 11px 2px 11px;
  border : rgba(0, 0, 0, 0.084) solid 1px;
  border-radius: 22px;
  /* background-color:rgb(247, 246, 246); */
}

.message_box{
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.own_message{
  align-items: flex-end;
}

.blue_bbl{
  background-color: rgba(0, 106, 255,1);
  color: aliceblue;
}

.group_box_sidebar{
  padding: 5px;
  background-color: rgb(210, 229, 250);
  border: black ridge 1px;
  height: 100px;
  overflow: hidden;
  opacity: 60%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  /* transition-duration: 0.2s; */
}
.group_box_sidebar:hover{
  background-color: rgb(82, 164, 250);
}
.selected_chat{
  opacity: 100%;
}

.group_box_members{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: turquoise; */
  max-width: 100%;
  max-height: 22px;
  font-size: 20px;
  font-weight: bold;
}

/* .group_box_new_msg{
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  height: 100%;
} */


@media only screen and (max-width:800px),(max-height:500px){
  .formcontainer{
    width: 80%;
  }
  #maincontainer{
    /* grid-template: 1fr/ 30% 1fr; */
    background-color: royalblue;
  }
  .Chat_Container{
    grid-area: 1 / 1 /span 3/span 3;
    display: grid;
    grid-template: 1fr /2fr 5fr;
    overflow: hidden;
  }
  .chatbox{
    grid-area: 1/2/2/3;
    border: none;
    border-radius: 0;
  }
  .InputContainer{
    border-radius: 0;
    height: 28.5%;
  }
  .sidebarChat{
    border: none;
    border-radius: 0;
  }
}

@media only screen and (max-width:600px){
  .formcontainer{
    background: rgb(255, 255, 255);
    border-radius: 0;
    grid-area: 1/1/4/4;
    width: 100%;
  }

  .input{
    border: rgb(170, 170, 170) solid 1px;
    border-radius: 2px;
  }

  .typingBox{
    background-color: rgb(213, 213, 213);
    font-size: larger;
    width: 90%;
    min-width: 80%;
    margin: 1%;
    padding: 2%;
    border: grey solid 1px;
    border-radius: 22px;
    height: 50%;
  }

}

#fileSelect{
  z-index: -1;
  height: 0px;
  width: 0;
}
#labelFile{
  /* background-color: rebeccapurple; */
  height: 30px;
  width: 30px;
  margin: 0 5px;
}

#labelFile img{
  height: 35px;
  width: 35px;
}