
/* 

  NOTE IF TEXT TRUNCATION BECOMES A PROBLEM KEY TO NOTE ON WHITE-SPACE ATTRIBUTE ON DIV WITH GRID CHILD ELEMETS

*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root, .App {
  overflow: hidden;
  height: 100%;
  background-color: rgb(6, 65, 92);
}

.App{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template: 1fr/1fr;
}

.Navbar {
  background-color: rgba(22, 9, 9, 0.58);
  color: aliceblue;
  text-align: center;
}

#maincontainer{
  display: grid;
  max-height: 100%;
  overflow: hidden;
  grid-template: 50px 1fr 50px / 10% 1fr 10%;
  background-color: royalblue;
}

.formcontainer{
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
  padding: 5%;
  grid-area: 1/2/3/3;
  background-color:#d3e6ff;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  -webkit-box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  -moz-box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  box-shadow: -8px -9px 97px 2px rgba(0,0,0,0.53);
  /* background-color: ; */
}

.form{
  width: 100%;
}

.input{
  display: block;
  height: 40px;
  padding: 0 3%;
  border-radius: 5px;
  border-width: 0;
  margin: 10px 0;
  width: 100%;
}

@media only screen and (max-width:600px){
  .formcontainer{
    background: rgb(255, 255, 255);
    border-radius: 0;
    grid-area: 1/1/4/4;
    width: 100%;
  }

  .input{
    border: rgb(170, 170, 170) solid 1px;
    border-radius: 2px;
  }

}

.link, .link:visited{
  color: #0D58C1;
}

.subtn{
  margin: 25px 0 0 0;
  background-color: #0d58c1e0;
  color: #fff;
  border:none;
}
.subtn:hover{
    background-color: #0d58c1;
}

.titleForm{
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.sidebarChat{
  padding: 10px 0px 40px 0px;
  min-width: 0;
  grid-area: 1/1/2/2;
  background-color: #0048AA;
  border-radius: 20px 0px 0px 20px;
  border: black solid 1px;
  border-right: transparent;
  display: flex;
  flex-direction: column;
}
.sidebarChat_header{
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 15px;
}
.sidebarChat_btn{
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  
}

.Chat_Container{
  grid-area: 2/2/3/3;
  display: grid;
  grid-template: 1fr /1fr 3fr;
  /* max-height: 100%; */
  overflow: hidden;
}

.chatbox{
  padding: 40px;
  padding-bottom: 20px;
  min-height: 0;
  grid-area: 1/2/2/3;
  background-color: rgba(255, 255, 255, 1.1);
  border-radius: 0px 20px 20px 0px;
  border: black solid 1px;
  border-left: transparent;
  display: flex;
  flex-direction: column;
  /* Main Axis */
  /* justify-content: center;  */
  /* Y-axis */
  /* align-items: stretch; */
}
::-webkit-scrollbar {
  display: none;
}

.msgBox{
  flex-grow: 1;
  overflow: scroll;
  /* max-height: 90%; */
}
.InputContainer{
  position: relative;
  margin-top: 10px;
  background-color:rgb(213, 213, 213);
  display: flex;
  /* padding: 15px; */
  border-style: none;
  border-radius: 22px;
  height: 50px;
}
.typingBox:focus{
  outline: none;
}
.typingBox{
  background-color: rgb(213, 213, 213);
  font-size: larger;
  padding: 15px;
  width: 90%;
  border-style: none;
  border-radius: 22px;
  height: 50px;
}

.chatbtn{
  /* background-color: rgb(213, 213, 213); */
  position: absolute;
  right: 0;
  border-radius: 100%;
  height: 50px;
  border: rgb(179, 179, 179) solid 1px;
  width: 50px;
  outline: none;
}
.chatbtn:hover{
  color: #57c1eb;
  background-color: rgba(255, 255, 255, 1);
  font-weight: bold;
  border-radius: 100%;
  height: 50px;
  border: rgb(179, 179, 179) solid 1px;
  width: 50px;
}

.message_sender{
  color: #0048AA;
  font-size: small;
  font-weight: bold;
}
.message_content{
  display: inline-block;
  text-align: justify;
  background-color: rgb(206, 206, 206);
  max-width: 80%;
  padding: 2px 11px 2px 11px;
  border : rgba(0, 0, 0, 0.084) solid 1px;
  border-radius: 22px;
  /* background-color:rgb(247, 246, 246); */
}

.message_box{
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.own_message{
  align-items: flex-end;
}

.blue_bbl{
  background-color: rgba(0, 106, 255,1);
  color: aliceblue;
}

.group_box_sidebar{
  padding: 5px;
  background-color: rgb(210, 229, 250);
  border: black ridge 1px;
  height: 100px;
  overflow: hidden;
  opacity: 60%;
  text-overflow: ellipsis;
  /* transition-duration: 0.2s; */
}
.group_box_sidebar:hover{
  background-color: rgb(82, 164, 250);
}
.selected_chat{
  opacity: 100%;
}

.group_box_members{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* background-color: turquoise; */
  max-width: 100%;
  max-height: 22px;
  font-size: 20px;
  font-weight: bold;
}

.group_box_new_msg{
  overflow: hidden;
  height: 100%;
}

